/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

/* Global */

:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #333333;
  --color-blue: #82b3d3;
  --color-blue-dark: #68a2ca;
  --color-blue-alt: #83b3d3;
  --color-brown: #756157;
  --color-brown-dark: #615048;
  --color-green: #7db54f;
  --color-green-dark: #6c9e42;
  --color-steel-teal: #3f5e72;
  --color-light-gray: #e5e5e5;
  --color-off-white: #f2f2f2;
  --color-coral-red: #ff5757;

  /* colors with opacity */
  --color-white-30: color-mix(in srgb, var(--color-white) 30%, transparent);
  --color-blue-20: color-mix(in srgb, var(--color-blue-alt) 20%, transparent);
  --color-blue-12: color-mix(in srgb, var(--color-blue-alt) 12%, transparent);
  --color-black-20: color-mix(in srgb, var(--color-black) 20%, transparent);
  --color-black-30: color-mix(in srgb, var(--color-black) 30%, transparent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;

  &.button--brown {
    background-color: var(--color-brown);
  }

  &.button--blue {
    background-color: var(--color-blue);
  }

  &.button--green {
    background-color: var(--color-green);
  }

  &.button--reset {
    background-color: transparent;
  }

  &.button--sorting {
    padding: 14px 12px;
    width: 48px;
    height: 48px;
    border: 2px solid var(--color-light-gray);
    border-radius: 4px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
  background-color: var(--color-white);
  box-shadow: 0 0 15px 0 var(--color-black-20);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-off-white);
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color-black);
}

/* Header */

.page-header {
  display: flex;
  padding-inline: 70px;
  min-height: 64px;

  .page-header__logo {
    z-index: 1;
    align-self: start;
    margin-right: 30px;
    margin-bottom: -10px;
  }
}

.navigation {
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 465px;
    list-style: none;
  }

  .navigation__link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
  }
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 268px;
  list-style: none;

  .user-menu__link {
    position: relative;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: var(--color-black);
  }

  .user-menu__button {
    width: 160px;
    padding-inline: 34px;
  }

  .user-menu__count {
    position: absolute;
    top: 5px;
    right: 0;
    color: var(--color-black);
  }
}

/* Main Index */

.page-main {
  flex-grow: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 51px 82px;
  min-height: 485px;
  background-color: var(--color-steel-teal);
  background-image: url('../images/index-hero/hero-background-mask.svg'), url('../images/index-hero/hero-background.jpg');
  background-repeat: no-repeat;
  background-position:
    center calc(100% + 1px),
    center top;
  background-size:
    100% auto,
    cover;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;

  .advantages__title {
    margin-top: 0;
    margin-bottom: 25px;
    width: 625px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .advantages__description {
    margin-top: 0;
    margin-bottom: 90px;
    width: 655px;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-grey);
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.advantages__item {
  min-height: 385px;
  background-color: var(--color-blue-12);

  .advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
  }

  .advantages__item-description {
    color: var(--color-grey);
  }
}

.advantages__item--accent {
  background-color: var(--color-blue);
  color: var(--color-white);

  .advantages__item-description {
    color: var(--color-white);
  }
}

.advantages__item--muted {
  background-color: var(--color-blue-20);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;

  .services__title {
    margin-top: 0;
    margin-bottom: 20px;
    width: 510px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .services__description {
    margin-top: 0;
    margin-bottom: 64px;
    width: 495px;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-grey);
  }

  .services__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.services__item {
  padding: 81px 85px;
  min-height: 385px;
  width: 400px;

  .services__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
  }

  .services__item-description {
    color: var(--color-grey);
  }

  &.services__item--odd {
    background-color: var(--color-blue-12);
  }
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 96px;

  .hotel-search__title {
    margin-top: 0;
    margin-bottom: 20px;
    width: 300px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .hotel-search__description {
    margin-top: 0;
    margin-bottom: 54px;
    width: 595px;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-grey);
  }

  .hotel-search__button {
    width: 376px;
    font-size: 20px;
    line-height: 36px;
  }
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 96px;
  min-height: 415px;
  background-color: var(--color-steel-teal);
  background-image: url('../images/subscription/subscription-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);

  .subscription__title {
    margin-top: 0;
    margin-bottom: 20px;
    width: 410px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .subscription__description {
    margin-top: 0;
    margin-bottom: 54px;
    width: 480px;
    font-size: 22px;
    line-height: 26px;
  }

  .subscription__form {
    display: flex;
    flex-wrap: wrap;
    width: 684px;
  }

  .subscription__email {
    flex-grow: 1;
    padding: 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: var(--color-off-white);
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    outline: none;
  }

  .subscription__button {
    border-radius: 0 4px 4px 0;
    font-size: 20px;
    line-height: 36px;
  }
}

.subscription--white-bg {
  background: none;
  color: var(--color-black);

  .subscription__description {
    color: var(--color-grey);
  }
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  min-height: 120px;
}

.social-links {
  .social-links__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 142px;
    list-style: none;
  }
}

.contacts {
  width: 720px;

  .contacts__phone {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
}

.page-footer__logo {
  width: 115px;
}

/* Main Catalog */

.catalog {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px;
  padding-top: 35px;
  min-height: 412px;
  background-color: var(--color-steel-teal);
  background-image: url('../images/catalog-filters/filters-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-white);

  .catalog__title {
    margin-block: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
  }
}

.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 114px;
  list-style: none;

  .breadcrumbs__link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: inherit;
  }
}

.filters {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 1060px;

  .filters__group {
    margin: 0;
    padding: 0;
    border: none;
  }

  .filters__group-title {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .filters__group-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .filters__control {
    line-height: 23px;
  }

  .filters__price-input {
    padding: 12px 20px;
    background-color: var(--color-off-white);
    border: none;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-black);
    outline: none;
  }

  .filters__price-input--from {
    border-radius: 4px 0 0 4px;
  }

  .filters__price-input--to {
    border-radius: 0 4px 4px 0;
  }

  .filters__price-input::-webkit-inner-spin-button,
  .filters__price-input::-webkit-outer-spin-button {
    appearance: none;
  }

  .filters__price-label {
    line-height: 24px;
    color: var(--color-black-30);
  }
}

.hotel-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 40px;
  padding: 50px 70px 60px;

  .hotel-results__title {
    margin: 0;
    margin-right: 200px;
    width: 340px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .hotel-results__select {
    margin-right: auto;
    padding: 14px 20px;
    width: 292px;
    border: 2px solid var(--color-light-gray);
    border-radius: 4px;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 21px;
    color: var(--color-grey);
    appearance: none;
  }
}

.sort-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 160px;
  list-style: none;

  .sort-list__link--active {
    border-color: var(--color-black);
  }

  .sort-list__link--tile {
    background: url('../images/decorative-icons/sort-mode-tile.svg') no-repeat center;
  }

  .sort-list__link--card {
    background: url('../images/decorative-icons/sort-mode-card.svg') no-repeat center;
  }

  .sort-list__link--list {
    background: url('../images/decorative-icons/sort-mode-list.svg') no-repeat center;
  }
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 438px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  color: var(--color-grey);

  .hotel-card__photo-link {
    text-decoration: none;
    color: var(--color-black);
  }

  .hotel-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  .hotel-card__rating-badge {
    padding: 9px 22px;
    border-radius: 4px;
    background-color: var(--color-off-white);
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.pagination {
  display: flex;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;

  .pagination__link {
    display: block;
    min-width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--color-blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
  }

  .pagination__link--dots {
    background-color: transparent;
    font-weight: 400;
    color: var(--color-black);
  }

  .pagination__link--active {
    background-color: var(--color-off-white);
    color: var(--color-black);
  }
}
